page-home {
    
    text-align: center; 
    
    #inputCodice {
        background-color: white;
        color:black;
        text-align: center; 
    }

    //stile div contenente input e button
    #container {
        width: 300px; 
        margin-left:auto; 
        margin-right: auto; 
        
    }

}
